<?xml version="1.0" encoding="utf-8"?>
<resources xmlns:tools="http://schemas.android.com/tools">
    <string name="backendless_app_id" tools:ignore="TypographyDashes">PUT-APP-ID-HERE</string>
    <string name="backendless_android_key" tools:ignore="TypographyDashes">PUT-ANDROID-KEY-HERE</string>
    <string name="backendless_base_url" tools:ignore="TypographyDashes">https://api.backendless.com</string>
</resources>